@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  overscroll-behavior: none;
  user-select: none;
  color: #000;
}

*::selection {
  color: #fff;
  background: hsla(229, 71%, 57%, 1);
}

#app {
  position: relative;
  isolation: isolate;
  height: 100%;
}

/* Animation for skeleton placeholder */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
