@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-[1504px] px-5 lg:px-40;
  }

  .border-dashed-default {
    @apply border-dashed border-neutral-80/20;
  }

  .gallery {
    width: 100%;
    display: grid;
    padding-bottom: 100px;
    grid-template-columns:
      [full-start] 1fr
      [content-start]
      min(1184px, 100% - 40px)
      [content-end]
      1fr [full-end];
  }

  .gallery-wrapper {
    grid-column: full;
    display: grid;
    grid-template-columns: inherit;
    padding-block: 150px;
    overflow-y: hidden;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scrollbar-width: none;
    scroll-padding-left: 40px;
  }

  .gallery-inside {
    grid-column: content;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .gallery-inside::after {
    content: '';
    align-self: stretch;
    padding-inline-end: max(20px, (100vw - 1024px) / 2 - 20px);
  }

  @media (min-width: 1024px) {
    .gallery {
      grid-template-columns:
        [full-start] 1fr
        [content-start]
        min(1184px, 100% - 320px)
        [content-end]
        1fr [full-end];
    }

    .gallery-wrapper {
      scroll-padding-left: 295px;
    }

    .gallery-inside::after {
      content: '';
      align-self: stretch;
      padding-inline-end: max(160px, (100vw - 1184px) / 2 - 160px);
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #fff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body,
#__next,
#app {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  /* overflow: hidden; */
  overscroll-behavior-y: none; /* not working on Safari */
  /* user-select: none; */
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
/* button, */
textarea,
select {
  font: inherit;
  all: unset;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#__next {
  isolation: isolate;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
}

/*
 10. Style code blocks in markdown
*/
pre > code {
  display: grid;
}
