.accordion-trigger {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accordion-content {
  overflow: hidden;
}
.accordion-content[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.accordion-content[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion-chevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.accordion-trigger[data-state='open'] > .accordion-chevron {
  transform: rotate(90deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
