[submodule "apps/status.app/content/specs"]
	path = apps/status.app/content/specs
	url = https://github.com/status-im/status-specs.git
	branch = master
[submodule "apps/status.network/content/legal-external"]
	path = apps/status.network/content/legal-external
	url = https://github.com/status-im/status-software-legal-documents.git
