; https://pnpm.io/cli/run#enable-pre-post-scripts
enable-pre-post-scripts=true
; https://pnpm.io/npmrc#node-linker
; node-linker=hoisted
; https://pnpm.io/npmrc#shamefully-hoist
;shamefully-hoist=true
;auto-install-peers=true
; https://pnpm.io/npmrc#public-hoist-pattern
; https://pnpm.io/npmrc#public-hoist-pattern
public-hoist-pattern[]=*it-pipe*
public-hoist-pattern[]=*@libp2p/interfaces*
public-hoist-pattern[]=*remark*
; https://pnpm.io/npmrc#node-version
node-version=20.18.0
; https://pnpm.io/npmrc#engine-strict
engine-strict=true
ignore-workspace-root-check=true
; https://pnpm.io/npmrc#node-options
; why: https://github.com/vercel/next.js/discussions/70423
# node-options=--network-family-autoselection-attempt-timeout=500