@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #ffffff;
  }

  body {
    background-color: #ffffff;
    color: #1b273d; /* neutral-80 for text */
  }
}

@layer components {
  .bg-neutral-100 {
    background-color: #09101c !important;
  }

  /* Cap.js widget full width styling */
  cap-widget {
    --cap-widget-width: 100% !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
