/* Define all the CSS variables used in the chart */

:root {
  --tree-line-height: 1.5rem;
  --tree-line-width: 1px;
  --tree-line-color: #e7eaee;
  --tree-line-border-radius: 0.5rem;
  --tree-node-padding: 0.5rem;
  --tree-node-line-style: solid;
  --tree-line-color-selected: #2a4af5;
}

/* Common styles for vertical lines */

.vertical-line {
  position: relative;
  height: var(--tree-line-height);
  width: var(--tree-line-width);
  background-color: var(--tree-line-color);
  box-sizing: border-box;
}

/* Styles for the lines connecting the nodes */
.node-lines {
  /* Lines connecting the nodes on the left and right */

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: var(--tree-line-height);
    width: 50%;
    border-top: var(--tree-line-width) var(--tree-node-line-style)
      var(--tree-line-color);
  }

  &::before {
    right: 50%;
    border-right: var(--tree-line-width) var(--tree-node-line-style)
      var(--tree-line-color);
  }

  &::after {
    left: 50%;
    /* border-left: var(--tree-line-width) var(--tree-node-line-style)
      var(--tree-line-color); */
  }

  /* Styles for the first node */
  &:first-of-type {
    &::before {
      border: 0 none;
    }
    &::after {
      border-radius: var(--tree-line-border-radius) 0 0 0;
      border-left: var(--tree-line-width) var(--tree-node-line-style)
        var(--tree-line-color);
    }
  }

  /* Styles for the last node */
  &:last-of-type {
    &::before {
      border-right: var(--tree-line-width) var(--tree-node-line-style)
        var(--tree-line-color);
      border-radius: 0 var(--tree-line-border-radius) 0 0;
    }
    &::after {
      border: 0 none;
    }
  }

  /* Styles for a node that is the only child */
  &:only-of-type {
    padding: 0;
    &::after,
    &::before {
      display: none;
    }
  }
}

.node-lines.selected {
  &::before,
  &::after {
    border-color: var(--tree-line-color-selected);
  }
}

.vertical-line.selected {
  background-color: var(--tree-line-color-selected);
}
