html,
body,
#root {
  height: 100%;
  overscroll-behavior: none;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 352px 1fr;
}

#main {
  display: grid;
  grid-template-rows: 56px 1fr 100px;
}

#main {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#sidebar {
  overflow: auto;
  height: 100vh;
}
