@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: theme(fontFamily.inter);
}

html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  min-height: 100svh;
}

img {
  user-select: none;
}
