/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overscroll-behavior-y: none; /* not working on Safari */
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
  all: unset;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  10. Remove user selection on buttons
*/
button {
  user-select: none;
}

/* This is the grid approach */
.container {
  max-width: 320px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 4px;
}

.thumbnail-grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}

.thumbnail {
  height: auto;
  max-width: 100%;
  transition: opacity 0.2s ease-in-out;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail:hover {
  opacity: 0.8;
  cursor: pointer;
}

.thumbnail-grid[data-count='1'] .thumbnail {
  grid-column: span 4;
  grid-row: span 4;
}

.thumbnail-grid[data-count='2'] {
  grid-template-rows: repeat(1, 160px);
  grid-template-columns: repeat(4, 80px);
}

.thumbnail-grid[data-count='2'] .thumbnail:nth-child(1),
.thumbnail-grid[data-count='2'] .thumbnail:nth-child(2) {
  grid-column: span 2;
  grid-row: span 1;
}

.thumbnail-grid[data-count='3'] {
  grid-template-rows: repeat(1, 160px);
  grid-template-columns: repeat(1, 80px);
  grid-auto-rows: 160px;
  grid-auto-columns: 80px;
}

.thumbnail-grid[data-count='3'] .thumbnail:nth-child(1) {
  grid-column: span 4;
  grid-row: span 1;
}

.thumbnail-grid[data-count='3'] .thumbnail:nth-child(2),
.thumbnail-grid[data-count='3'] .thumbnail:nth-child(3) {
  grid-column: span 2;
  grid-row: span 1;
}

.thumbnail-grid[data-count='4'] {
  grid-template-rows: repeat(2, 160px);
  grid-template-columns: repeat(4, 80px);
  grid-auto-rows: 160px;
  grid-auto-columns: 80px;
}

.thumbnail-grid[data-count='4'] .thumbnail:nth-child(1),
.thumbnail-grid[data-count='4'] .thumbnail:nth-child(2),
.thumbnail-grid[data-count='4'] .thumbnail:nth-child(3),
.thumbnail-grid[data-count='4'] .thumbnail:nth-child(4) {
  grid-column: span 2;
  grid-row: span 1;
}

.thumbnail-grid[data-count='5'] {
  grid-template-rows: repeat(4, 80px);
  grid-template-columns: repeat(4, 80px);
  grid-auto-rows: 320px 80px;
  grid-auto-columns: 80px;
}

.thumbnail-grid[data-count='5'] .thumbnail:nth-child(1) {
  grid-column: span 4;
  grid-row: span 3;
}

.thumbnail-grid[data-count='5'] .thumbnail:nth-child(2),
.thumbnail-grid[data-count='5'] .thumbnail:nth-child(3),
.thumbnail-grid[data-count='5'] .thumbnail:nth-child(4),
.thumbnail-grid[data-count='5'] .thumbnail:nth-child(5) {
  grid-column: span 1;
  grid-row: span 1;
}

.thumbnail-grid[data-count='6'] {
  grid-template-rows: repeat(3, 80px);
  grid-template-columns: repeat(4, 80px);
  grid-auto-rows: 160px 80px;
  grid-auto-columns: 80px;
}

.thumbnail-grid[data-count='6'] .thumbnail:nth-child(1),
.thumbnail-grid[data-count='6'] .thumbnail:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}

.thumbnail-grid[data-count='6'] .thumbnail:nth-child(3),
.thumbnail-grid[data-count='6'] .thumbnail:nth-child(4),
.thumbnail-grid[data-count='6'] .thumbnail:nth-child(5),
.thumbnail-grid[data-count='6'] .thumbnail:nth-child(6) {
  grid-column: span 1;
  grid-row: span 1;
}
