{
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "plugins": [
      "@ianvs/prettier-plugin-sort-imports",
      "prettier-plugin-tailwindcss"
    ]
}